{
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "globals": {
        "describe": false,
        "it": false,
        "before": false,
        "after": false
    },
    "extends": "eslint:recommended",
    "rules": {
        "semi": [ 2, "always" ],
        "no-extra-boolean-cast": 0,
        "no-console": 0,
        "no-unused-vars": 0,
        "no-debugger": 2,
        "no-eval": 2,
        "quote-props": [1, "as-needed", { "keywords": true }]
    }
}